.abc {
    width: auto
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

card-text-font {
    font-family: 'Poppins', sans-serif;
    font-size: 5px;
}
  
  .boundary {
    height:2px;
    background-color:#1B95E0;
  }

  .form-font {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }

  .button-1 {
    background-color: #1DA1F2;
    border-radius: 75px;
    border:none;
  }
